/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */

:root {
    --font-inter: sans-serif;
  
    /* Light Theme Colors */
    --background-light: #ffffff;
    --text-light: #000000;
  
    /* Dark Theme Colors */
    --background-dark: #000000;
    --text-dark: #ffffff;
  }
  
  .light {
    background-color: var(--background-light);
    color: var(--text-light);
  }
  
  .dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
  
  body {
    font-family: var(--font-inter);
    transition: background-color 0.3s, color 0.3s;
    height: 100%; /* Ensure the body doesn't overflow */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  